/node_modules
/tests/data/*
!/tests/data/rest-api
/tests/data/rest-api/*
!/tests/data/rest-api/routes
/tests/wordpress
/vendor

/composer.lock
/package-lock.json
/tests/.env
/tests/hyper-schema/index.js
